<div class="contents">  
  <div>
    <table class="table">
        <tr>
          <td>
            <label for="">Discounte Code</label>
          </td>
          <td>
            <input type="text" name="discountCode" id="" />
          </td>
          <td>
            <button class="btn">Apply</button>
          </td>
        </tr>
        <tr>
          <td>
              <label for="">Select Seat (Ownward Journey)</label></td>
          <td>
            <select name="bookingOwnwardSeat" class="">
              <option>None</option>
            </select>
          </td>
          <td></td>
        </tr>
        <tr>
          <td>
              <label for="">Select Seat (Return Journey)</label></td>
          <td>
            <select name="bookingReturnSeat" class="">
              <option>None</option>
            </select>
          </td>
          <td></td>
        </tr>
      </table>
  </div>
  <div>
      <button class="btn" (click)="submit()">Check Out</button>
  </div>
</div>
